
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">SIDDHINATH HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/add-medicine">Add Medicine</a>
          </li>
          <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/doctor">Back</a>
          </li>
      </ul>

      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" (click)="logout()">Logout</a></button>
        
    </div>
      
    </div>
  
  </nav>
  
  <div class="container">
  <hr>
    <h2 style="text-align: center;margin-top: 20PX;">Medicine Dashboard</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
      Welcome to Admin Dashboard. Please find the patient list below!!. Click Appointments to view and update Appointments, Click Add Appointment to add new Appointment</marquee></a>
  <hr>
  <!-- <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search" (input)="searchPatients()">  -->
  <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Medicine List in the Queue</a>
<div class="tableFixHead">
  <br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Drugname</th>
            <th>Stock</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let m of medicines">
           
            <td>{{m.id}}</td>
            <td>{{m.drugname}}</td>
            <td>{{m.stock}}</td>
            <td>
                <button (click) = "viewMedicine(m.id)" class="btn btn-primary" style="margin-left: 10px;">View</button>

                 <button (click) = "updateMedicine(m.id)" class="btn btn-success" style="margin-left: 10px;">Update</button>

                 <button (click) = "deleteMedicine(m.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>